<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="AzureIoTDevice" connectionString="HostName=SensorDataDemo.azure-devices.net;DeviceId=SENSOR-01;SharedAccessKeyName=iothubowner;SharedAccessKey=lVUw1uMZjq8FfkpXH2yqL6F9UkKudNAJZB/LHtqpikM="/>
  </connectionStrings>
</configuration>